:root {
    --color_red: hsl(0, 78%, 62%);
    --color_cyan: hsl(180, 62%, 55%);
    --color_orange: hsl(34, 97%, 64%);
    --color_blue: hsl(212, 86%, 64%);
    --color_very_dark_blue: hsl(234, 12%, 34%);
    --color_grayish_blue: hsl(229, 6%, 66%);
    --color_very_light_gray: hsl(0, 0%, 98%);
    --color_withe: hsl(221, 0%, 100%);
    --color_black: hsl(221, 0%, 0%);
}

/* GLOBALS */

html {
    font-size: 65.2%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* UTILITIES */

.grid {
    display: grid;
}

.flex {
    display: flex;
}

@media (min-width: 1000px) {}